@mixin fontBold {
    font-family: "Gotham-Bold", sans-serif;
    text-transform: uppercase;
}

@mixin fontBook {
    font-family: "Gotham-Book", sans-serif;
    text-transform: uppercase;
}

@mixin fontLight {
    font-family: "Gotham-Light", sans-serif;
    text-transform: uppercase;
}

@mixin whiteRound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;  
}