$wideContainer: 0 calc(50vw - 600px);
$containerUpTo1200: 0 calc(50vw - 450px);
$containerUpTo992: 0 calc(50vw - 400px);
$containerUpTo768: 0 calc(50vw - 300px);
$containerUpTo576: 0 calc(50vw - 250px);
$containerUpTo320: 0 calc(50vw - 150px);